---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
  {% endfor %}-->


<!--Start from here-->


<!-- Teaching -->
<h2>
	Past Courses 
</h2>
<ul>
	<li>Instructor at OSU (<b>average student evaluation score 4.4/5.0</b>)</li>
	<table border="0">
	<tr>
		<td>2019 Fall, <td>MATH
					3607: Beginning Scientific Computing (2 sections)</a>,</td>
	</tr>

	<tr>
		<td>2019 Spring, <td>MATH
					5602: Computational Partial Differential Equations</a>,</td>
	</tr>

	<tr>
		<td>2018 Fall, <td>MATH
					3607: Beginning Scientific Computing (2 sections)</a>,</td>
	</tr>

	<tr>
		<td>2018 Spring, <td>MATH
					3607: Beginning Scientific Computing (2 sections)</a>,</td>
	</tr>

	<tr>
		<td>2017 Fall, <td>MATH
					1172: Engineering Mathematics A</a>.</td>
	</tr>
	</table>
	<br>

	<li>Teaching assistant at Brown</li>
	<table border="0">
	<tr>
		<td>2015 Spring, <td>APMA1200: Operational Analysis: Probabilistic Models, </td>
	</tr>
	<tr>
		<td>2014 Fall, </td><td>APMA0360: Methods of Applied Mathematics. </td>
	</tr>
	</table>

	<br>
	<li>Teaching assistant at UBC</li>
	<table border="0">
	<tr>
		<td>2013/12 Spring, </td> <td>MATH 210: Introduction to Mathematical Computing, </td>
	</tr>
	<tr>
		<td>2012/11 Fall, </td> <td>MATH 215/255: Ordinary Differential Equations. </td>
	</tr>
	
	</table>
</ul>

